# Node modules (ne jamais push)
node_modules/

# Fichiers générés par Webpack pour chaque task
task_0/dist/
task_1/public/*
!task_1/public/index.html

task_2/public/
task_3/public/

# Fichiers temporaires
*.log
*.tmp
*.swp

# Dossiers système
.DS_Store
Thumbs.db

# Fichiers de build potentiels
*.bundle.js
*.hot-update.*
