@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #cdcdcd;
}

@layer base {
  :root {
    font-family: var(--font-sans);
    color: #1f2937;
    background-color: #ffffff;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}
